$accent: #4051e7;
$accent-hover: #4c5ef8;
$error: #f4674a;
$green: #87c73f;
$light: #ddeeff;
$extra-light: #f6fbff;
$text: #161616;
$text-white-light: #f8f9fd;
$text-light: #8e8e8e;
$gray: #dcdcdc;
$white: #fff;
