@import '../../node_modules/ant-design-vue/dist/antd.less';

@primary-color: #4051e7;
@link-color: #4051e7;
@success-color: #87c73f;
@warning-color: #faad14;
@error-color: #f4674a;
@font-size-base: 16px;
@heading-color: rgba(0, 0, 0, 0.85);
@text-color: #161616;
@text-color-secondary: rgba(9, 9, 9, 0.8);
@disabled-color: rgba(0, 0, 0, 0.25);
@border-radius-base: 4px;
@border-color-base: #d9d9d9;
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
